// 
$color-very-dark-blue: hsl(243, 87%, 12%);
$color-desaturated-blue: hsl(238, 22%, 44%);
$color-bright-blue: hsl(224, 93%, 58%);
$color-moderat-cyan: hsl(170, 45%, 43%);
$color-light-grayish-blue: hsl(240, 75%, 98%);
$color-light-gray: hsl(0, 0%, 75%);
$color-dark-gray:#3F3F4A;
// 
$font-family-first: 'Open Sans', sans-serif;
$font-family-second: 'Raleway', sans-serif;
//
$max-width:1240px;