.Header{

    font-family: $font-family-second;
    margin-bottom: 50px;

    @include mq("desktop"){
        padding-bottom: 30px;
    }


    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 40px;
        padding-right:0;
        @include mq("tablet"){
            padding-bottom: 40px;
        }

        @include mq("desktop"){
            margin-bottom: 100px;
        }
    }

    &__logo{
        width: 170px;
        height: 50px;
        @include mq("tablet"){
            width: 130px;
            height: 38px;
        }
    }

    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: 30px;

        a{
            color: $color-dark-gray;
            margin-left: 60px;
            @include mq("tablet"){
                margin-left: 10px;
                font-size: 16px;
            }
            &:hover{
                color: #000;
            }
        }
    }
}